<!DOCTYPE html>
<html lang="ja" class="chrome pc loaded">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
    </style>
    <meta name="viewport" content="width=1280">
    <title> フレンチごはん 西麻布GINA（ジーナ）</title>
    <link rel="stylesheet" id="cmncss-css" href="/assets/css/common.css" type="text/css" media="all">
    <link rel="stylesheet" id="gfont-css" href="/assets/css/font.css" type="text/css" media="all">
    <link rel="stylesheet" id="indexcss-css" href="/assets/css/index.css" type="text/css" media="all">
    <style type="text/css">.gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
      .gm-style img { max-width: none; }
    </style>
  </head>

  <body>
    <div class="main">
      <div class="contents">
        <div class="index">
          <div data-curr="top" class="mainVisual">
            <div class="mainDiscription">
              <div class="grid">
                <p class="mainDiscription__desc">
                  旬の和食材や出汁を素材として、フレンチの技法で丁寧に料理します。<br>
                  しっかりとしたお食事はコースをご用意。ワインはもちろん、日本酒と共にお楽しみください。<br>
                  ちょっと小腹が空いた深めの時間には、シェフがあなただけに、ちょうどよいごはんを作ります。<br>
                  お箸で食べるフレンチごはん。いつでもおいしいお料理を支度してお待ちしております。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
	  </div>
  </body>
</html>