<!DOCTYPE html>
<html lang="ja" class="chrome pc loaded">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
    </style>
    <meta name="viewport" content="width=1280">
    <title> フレンチごはん 西麻布GINA（ジーナ）</title>
    <link rel="stylesheet" id="cmncss-css" href="/assets/css/common.css" type="text/css" media="all">
    <link rel="stylesheet" id="gfont-css" href="/assets/css/font.css" type="text/css" media="all">
    <link rel="stylesheet" id="indexcss-css" href="/assets/css/index.css" type="text/css" media="all">
    <style type="text/css">.gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
      .gm-style img { max-width: none; }
    </style>
    <script src="/jquery/jquery.js"></script>
  </head>

  <body>
    <div class="main">
      <div class="contents">
        <div class="index">
          <div data-curr="top" class="mainVisual">
            <div class="mainDiscription">
              <div class="grid">
                <p class="mainDiscription__desc">
                  二郎初心者に、その人に合った最適な二郎を推薦します。<br>
                  あなたの画像を選択し、アップしたら、初めてのあなたにぴったりな二郎をご紹介!!<br>
                  さぁ、これであなたもジロリアンへの第一歩を踏み出しましょう!!
                </p>
                <form id="file-form" method="post" action="/osusume" enctype="multipart/form-data", class="upload">
                  <input type="file" name="upName" />
                  <button type="submit" class="square_btn">写真をアップ</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
	  </div>
  </body>
</html>