<!DOCTYPE html>
<html lang="ja" class="chrome pc loaded">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="./フレンチごはん 西麻布GINA（ジーナ）_files/css">

    <style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
    </style>
    <meta name="viewport" content="width=1450">
    <title> フレンチごはん 西麻布GINA（ジーナ）</title>
    <link rel="stylesheet" id="cmncss-css" href="./css/common.css" type="text/css" media="all">
    <link rel="stylesheet" id="gfont-css" href="./css/font.css" type="text/css" media="all">
    <link rel="stylesheet" id="indexcss-css" href="./css/index.css" type="text/css" media="all">
    <style type="text/css">.gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
      .gm-style img { max-width: none; }
    </style>
  </head>

  <body>
    <div class="main">
      <div class="globalNav">
        <p class="globalNav__logo"><a href="http://gina.tokyo/"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/gnav_logo.png" alt="gina"></a></p>
        <ul class="globalNav__links">
          <li class="globalNav__link"><a href="http://gina.tokyo/"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/gnav_home.png" alt="HOME"></a></li>
          <li class="globalNav__link"><a href="http://gina.tokyo/course/2017-june/"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/gnav_coursemenu.png" alt="COURSE MENU"></a></li>
          <li class="globalNav__link"><a href="http://gina.tokyo/alacarte/"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/gnav_alacartemenu.png" alt="A LA CARTE MENU"></a></li>
          <li class="globalNav__link"><span data-anchor=".information"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/gnav_contact.png" alt="CONTACT"></span></li>
        </ul>
      </div>
      <div class="contents">
        <div class="index">
          <div class="subNav">
            <ul class="subNav__btns">
              <li data-anchor=".mainVisual" class="subNav__btn subNav__btn_top curr">
                <p class="text"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/subnav_top.png" alt="TOP"></p>
              </li>
              <li data-anchor=".course" class="subNav__btn subNav__btn_course">
                <p class="text"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/subnav_course.png" alt="COURSE"></p>
              </li>
              <li data-anchor=".alacarte" class="subNav__btn subNav__btn_alacarte">
                <p class="text"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/subnav_alacarte.png" alt="A LA CARTE"></p>
              </li>
              <li data-anchor=".chef" class="subNav__btn subNav__btn_chef">
                <p class="text"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/subnav_chef.png" alt="CHEF"></p>
              </li>
              <li data-anchor=".interior" class="subNav__btn subNav__btn_interior">
                <p class="text"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/subnav_interior.png" alt="INTERIOR"></p>
              </li>
              <li data-anchor=".news" class="subNav__btn subNav__btn_news">
                <p class="text"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/subnav_news.png" alt="NEWS"></p>
              </li>
              <li data-anchor=".information" class="subNav__btn subNav__btn_information">
                <p class="text"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/subnav_information.png" alt="INFORMATION"></p>
              </li>
              <li data-anchor=".access" class="subNav__btn subNav__btn_access">
                <p class="text"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/subnav_access.png" alt="ACCESS"></p>
              </li>
            </ul>
          </div>

          <div data-curr="top" class="mainVisual"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/mv_bg.jpg" class="mainPhoto">
            <div class="mainDiscription">
              <div class="grid">
                <h2 class="mainDiscription__title"><img src="./フレンチごはん 西麻布GINA（ジーナ）_files/md_title.png" alt="お箸で食べる フレンチごはん 西麻布GINA（ジーナ）"></h2>
                <p class="mainDiscription__desc">
                  旬の和食材や出汁を素材として、フレンチの技法で丁寧に料理します。<br>
                  しっかりとしたお食事はコースをご用意。ワインはもちろん、日本酒と共にお楽しみください。<br>
                  ちょっと小腹が空いた深めの時間には、シェフがあなただけに、ちょうどよいごはんを作ります。<br>
                  お箸で食べるフレンチごはん。いつでもおいしいお料理を支度してお待ちしております。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
	  </div>
  </body>
</html>